/* styles/colors.css */

/* Переменные для светлой темы */
:root {
  --mui-palette-primary: #ffb300; /* Основной цвет (теплый желтый) */
  --color-primary: #ffb300; /* Основной цвет (теплый желтый) */
  --color-secondary: #26a69a; /* Вторичный цвет (теплый бирюзовый) */
  --color-background: #fff8e7; /* Цвет фона (светлый бежевый) */
  --color-surface: #ffffff; /* Цвет поверхности (белый) */
  --color-textPrimary: #333333; /* Цвет текста (темно-серый) */
  --color-textSecondary: #555555; /* Цвет вторичного текста (светло-серый) */
  --color-links: #007bff; /* Цвет ссылок (синий) */
  --color-strong: #000000; /* Цвет для сильных элементов */
  --color-em: #555555; /* Цвет для элементов в курсиве */
  --color-quote: #444444; /* Цвет для цитат */
  --color-code: #d63384; /* Цвет для кода */
}

/* Переменные для темной темы */
[data-theme='dark'] {
  --color-primary: #ff5722; /* Основной цвет (теплый оранжевый) */
  --color-secondary: #009688; /* Вторичный цвет (темный бирюзовый) */
  --color-background: #121212; /* Цвет фона (черный) */
  --color-surface: #1e1e1e; /* Цвет поверхности (темно-серый) */
  --color-textPrimary: #ffffff; /* Цвет текста (белый) */
  --color-textSecondary: #cccccc; /* Цвет вторичного текста (светло-серый) */
  --color-links: #1e90ff; /* Цвет ссылок (синий) */
  --color-strong: #ffffff; /* Цвет для сильных элементов */
  --color-em: #bbbbbb; /* Цвет для элементов в курсиве */
  --color-quote: #cccccc; /* Цвет для цитат */
  --color-code: #ff6347; /* Цвет для кода */
}
